In [7]:
import pandas as pd
import random

In [6]:
%time
df = pd.read_csv('train.csv')
df.head()

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 6.91 µs

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [8]:
%%time
print(df.head(),'\n',df.shape)

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949
 (29118021, 6)
CPU times: user 3.57 ms, sys: 423 µs, total: 3.99 ms
Wall time: 6.08 ms

In [9]:
idx = random.sample(range(29118021),100000)

In [13]:
new_set = df.iloc[idx,:].reset_index(drop=True)
new_set.shape

(100000, 6)

In [16]:
new_set = new_set[['row_id','x','y']]

In [17]:
new_set.head()

     row_id       x       y
0   1645957  5.2207  5.2964
1  12139331  2.9674  8.1921
2  19920523  1.7566  6.7697
3  17122890  3.0900  7.3091
4  20045165  3.6806  1.9322

In [34]:
new_set.to_csv('data.csv',header=True)